* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #2f2f2f;
}
.allContent {
  position: absolute;
  z-index: 1;
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 85px;
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px 10px #000;
}
.header-left a {
  color: #000;
  text-decoration: none;
}
.header-left:hover {
  cursor: pointer;
}
.header-left h1 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-family: 'Lobster', sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
.carrito-logo img {
  height: 35px;
  margin-right: 40px;
}
.carrito-logo img:hover {
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: #fff;
  background: #2f2f2f;
}
.footer--left ul {
  margin: 0;
  padding: 0;
}
.footer--left li {
  list-style: none;
}
.footer--left a {
  text-decoration: none;
  color: #fff;
}
.footer--left a:hover {
  text-decoration: underline;
}
.footer--center {
  padding-top: 30px;
}
.footer--right {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 200px;
}
.footer--right .follow {
  display: flex;
  justify-content: flex-end;
}
.footer--right .follow h3 {
  margin: 10px;
  padding: 0;
  color: #fede01;
}
.footer--right .social .social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.footer--right .social .social-link img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.footer--right .social .social-link.github {
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}
.footer--right .social .social-link.instagram {
  background-color: #fff;
  border-radius: 20px;
}
.footer--right .social .social-link.twitter {
  background-color: #fff;
  border-radius: 8px;
}
.intro__titulo {
  height: 130px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}
.intro__titulo h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fff;
}
.intro__categorias {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.intro__categorias--teclado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: right;
  width: 100%;
  height: 744.32px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url("https://www.duckychannel.com.tw/upload/2020_05_072/202005071320152c0pd4mbd1.jpg");
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  color: #fede01;
}
.intro__categorias--teclado h1 {
  margin: 0;
  width: 400px;
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 5px 20px #000;
}
.intro__categorias--teclado p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}
.intro__categorias--mouse {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 744.32px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url("https://static.techspot.com/images2/news/bigimage/2020/01/2020-01-15-image-13.jpg");
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  color: #fede01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro__categorias--mouse h1 {
  margin: 0;
  width: 400px;
  text-align: center;
  font-size: 80px;
  text-shadow: 5px 5px 20px #000;
}
.intro__categorias--mouse p {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-shadow: 5px 5px 10px #000;
}
.marca__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: #888;
}
.marca__container img {
  height: 50px;
}
.marca__container .zowie {
  height: 140px;
  margin-bottom: 15px;
}
.mouse {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 130px 100px 500px 500px;
}
.mouse__title {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 1920px;
  height: 130px;
  margin: 0 auto;
  background-color: #888;
  box-shadow: 0 0 15px 0 #000;
}
.mouse__title h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 5px 15px #000;
}
.mouse__brand--zowie {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 820px;
  margin: 0 auto;
  color: #fede01;
}
.mouse__brand--zowie h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fede01;
  text-shadow: 5px 5px 15px #000;
}
.mouse__brand--glorious {
  grid-column: 3/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 820px;
  margin: 0 auto;
  color: #fede01;
}
.mouse__brand--glorious h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fede01;
  text-shadow: 5px 5px 15px #000;
}
.mouse .caja--productos {
  align-self: center;
  justify-self: center;
  height: 410px;
  width: 810px;
  border-radius: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: 0px 0px 10px 10px #fede01;
}
.mouse .caja--productos img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  border: 5px solid #888;
  border-radius: 20px;
}
.mouse .caja--productos__contenido {
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  color: #000;
}
.mouse .caja--productos__contenido h3 {
  font-weight: 900;
  font-size: 40px;
  text-shadow: 0px 0px 10px #fede01;
}
.mouse .caja-zowie1 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.mouse .caja-zowie2 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.mouse .caja-glorious1 {
  grid-column: 3/5;
  grid-row: 3/4;
}
.mouse .caja-glorious2 {
  grid-column: 3/5;
  grid-row: 4/5;
}
.teclado {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 130px 100px 500px 500px;
}
.teclado__title {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  max-width: 1920px;
  width: 1920px;
  height: 130px;
  margin: 0 auto;
  background-color: #888;
  box-shadow: 0 0 15px 0 #000;
}
.teclado__title h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 5px 5px 15px #000;
}
.teclado__brand--ducky {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 820px;
  margin: 0 auto;
  color: #fede01;
}
.teclado__brand--ducky h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fede01;
  text-shadow: 5px 5px 15px #000;
}
.teclado__brand--hk {
  grid-column: 3/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 820px;
  margin: 0 auto;
  color: #fede01;
}
.teclado__brand--hk h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  letter-spacing: 35px;
  text-transform: uppercase;
  color: #fede01;
  text-shadow: 5px 5px 15px #000;
}
.teclado .caja--productos {
  align-self: center;
  justify-self: center;
  height: 410px;
  width: 810px;
  border-radius: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  background: #2f2f2f;
  text-decoration: none;
  box-shadow: 0px 0px 10px 10px #fede01;
}
.teclado .caja--productos img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border: 5px solid #888;
  border-radius: 20px;
}
.teclado .caja--productos__contenido {
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.teclado .caja--productos__contenido h3 {
  font-size: 40px;
  text-shadow: 0px 0px 10px #000;
}
.teclado .caja-ducky1 {
  grid-column: 1/3;
  grid-row: 3/4;
  background: #f5f5f5;
}
.teclado .caja-ducky2 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.teclado .caja-hk1 {
  grid-column: 3/5;
  grid-row: 3/4;
}
.teclado .caja-hk1 h3 {
  color: #000;
  text-shadow: 0px 0px 10px #fff;
}
.teclado .caja-hk2 {
  grid-column: 3/5;
  grid-row: 4/5;
}
.teclado .caja-hk2 h3 {
  color: #000;
  text-shadow: 0px 0px 10px #fff;
}
.carrito {
  width: 1640px;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1027px 1fr 300px 1fr;
  grid-template-rows: 150px 1fr;
}
.carrito__title {
  grid-row: 1/2;
  grid-column: 1/4;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #fede01;
  margin-bottom: 0;
  margin-top: auto;
}
.carrito__productos {
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #fff;
  background: #888;
}
.carrito__productos .producto-carrito {
  display: grid;
  grid-template-columns: 286px repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 220px;
  margin: 10px;
  border-radius: 20px;
  background: #fff;
  font-size: 20px;
}
.carrito__productos .producto-carrito h3 {
  margin-top: 30px;
  opacity: 0.7;
}
.carrito__productos .producto-carrito .producto-imagen {
  grid-column: 1/2;
  margin: 10px;
}
.carrito__productos .producto-carrito .producto-imagen img {
  height: 200px;
  width: 266px;
  border: 1px solid #2f2f2f;
  border-radius: 20px;
}
.carrito__productos .producto-carrito .producto-contenido {
  grid-column: 2/3;
  justify-self: center;
}
.carrito__productos .producto-carrito .producto-contenido h2 {
  margin-bottom: 0;
}
.carrito__productos .producto-carrito .producto-contenido .titulo {
  margin-top: 0;
  font-size: 25px;
}
.carrito__productos .producto-carrito .producto-cantidad {
  grid-column: 3/4;
  justify-self: center;
}
.carrito__productos .producto-carrito .producto-precio {
  grid-column: 4/5;
  justify-self: center;
}
.carrito__productos .producto-carrito .producto-precio p {
  font-weight: 800;
}
.carrito__total {
  grid-row: 2/3;
  grid-column: 3/4;
  height: 240px;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #fff;
  background: #888;
}
.carrito__total--caja {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fede01;
}
.carrito__total--caja-precio {
  margin-top: 20px;
}
.carrito__total--caja-precio h2 {
  font-weight: 900;
}
.carrito__total--caja-compra button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border-radius: 20px;
  border: none;
  background: #fede01;
}
.carrito__total--caja-compra button:hover {
  cursor: pointer;
}
.modal {
  position: fixed;
  z-index: 2;
  top: 18%;
  left: 20%;
  width: 1100px;
}
.modal__producto {
  display: grid;
  grid-template-columns: 675px 1fr;
  grid-template-rows: 600px;
  border-radius: 20px;
  background-color: #fff;
}
.modal__producto-imagen {
  grid-column: 1/2;
  background-color: #888;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  border-radius: 20px;
}
.modal__producto-imagen img {
  width: 660px;
  object-fit: contain;
  background-color: #888;
}
.modal__producto-contenido {
  grid-column: 2/3;
}
.modal__producto-contenido-titulo {
  height: 200px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 5px;
}
.modal__producto-contenido-cantidad {
  font-size: 20px;
}
.modal__producto-contenido-precio {
  font-size: 20px;
}
.modal__producto-contenido-precio p {
  text-align: center;
}
.modal__producto-contenido-button {
  text-align: center;
}
.modal__producto-contenido-button button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  font-size: 25px;
  border-radius: 20px;
  border: none;
  background: #fede01;
}
.modal__producto-contenido-button button:hover {
  cursor: pointer;
}
.modal-zowie1 {
  display: none;
}
.modal-zowie2 {
  display: none;
}
.modal-glorious1 {
  display: none;
}
.modal-glorious2 {
  display: none;
}
.modal-ducky1 {
  display: none;
}
.modal-ducky1 .modal__producto-contenido-titulo {
  font-size: 30px;
  line-height: normal;
}
.modal-ducky1 .modal__producto-contenido-titulo h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.modal-ducky2 {
  display: none;
}
.modal-ducky2 .modal__producto-contenido-titulo {
  font-size: 30px;
  line-height: normal;
}
.modal-ducky2 .modal__producto-contenido-titulo h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.modal-hk1 {
  display: none;
}
.modal-hk1 .modal__producto-contenido-titulo {
  font-size: 30px;
  line-height: normal;
}
.modal-hk1 .modal__producto-contenido-titulo h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.modal-hk1 .modal__producto-imagen img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.modal-hk2 {
  display: none;
}
.modal-hk2 .modal__producto-contenido-titulo {
  font-size: 30px;
  line-height: normal;
}
.modal-hk2 .modal__producto-contenido-titulo h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.modal-hk2 .modal__producto-imagen img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
