*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Lato', sans-serif
  background-color: #2F2F2F

.header
  height: 70px
  width: 1640px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  background-color: white
  h1 
    margin: 0
    margin-left:10px
    padding: 0
    font-size: 60px
    font-weight: 700
    letter-spacing: 2px
  &-right
    width: 200px
    display: flex
    align-items: center
    justify-content: space-around
.cuenta img
  height: 40px
.carrito img
  height: 35px
  
.intro
  &__titulo
    height: 100px
    width: 1640px
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    background-color: #37323E
    h1
      font-size: 40px
      font-weight: 500
      font-family: 'Oswald', sans-serif
      letter-spacing: 10px
      text-transform: uppercase
      color:  #FEDE01;
  &__nav-categorias
    padding-top: 20px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr 
    width: 1640px
    &--mouse
      grid-column: 2 / 3
      width: 820px
      height: 744.32px
      background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url("https://static.techspot.com/images2/news/bigimage/2020/01/2020-01-15-image-13.jpg")
      background-size: cover
      background-position: center center
    &--teclado
      grid-column: 1 / 2
      width: 820px
      height 744.32px
      background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .4)), url("https://www.duckychannel.com.tw/upload/2020_05_072/202005071320152c0pd4mbd1.jpg")
      background-size: cover
      background-position: center center