Fuente1='Lato', sans-serif
Fuente2='Oswald', sans-serif
Fuente3='Lobster', sans-serif

gris-oscuro=#2f2f2f
color-claro= #FFFFFF
gris-claro=#888888
amarillo=#FEDE01
azul=#3D52D5
gris-fondo=#F5F5F5

*
  box-sizing: border-box

body
  margin: 0
  font-family: Fuente1
  background-color: gris-oscuro

.header
  height: 85px
  width: 1640px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  background-color: color-claro
  &-left
    a
      color: black
      text-decoration: none
    &:hover
      cursor: pointer
    h1 
      margin: 0
      margin-left:10px
      padding: 0
      font-family: Fuente3
      font-size: 60px
      font-weight: 700
      letter-spacing: 2px
  &-right
    width: 200px
    display: flex
    align-items: center
    justify-content: space-around
.cuenta img
  height: 40px
  &:hover
    cursor: pointer
.carrito-logo img
  height: 35px
  &:hover
    cursor: pointer

.footer
  width: 100%
  height 150px
  margin: 0 auto
  position: relative
  bottom: 0
  display: flex
  justify-content: space-around
  align-items: center
  font-size: 25px
  color: color-claro
  background: gris-oscuro
  &--left
    ul
      margin: 0
      padding: 0
    li
      list-style none
    a
      text-decoration: none
      color: color-claro
    a:hover
      text-decoration: underline
  &--center
    padding-top: 30px
  &--right
    display: flex
    align-content: center
    flex-direction: column
    width: 200px
    .follow
      display: flex
      justify-content: flex-end
      h3
        margin: 10px 
        padding: 0 
        color: amarillo
    .social
      .social-link
        display: inline-block
        width: 60px;
        height: 60px;
        object-fit: cover
        img
          width: 60px;
          height: 60px;
          object-fit: cover
        &.github
          background-color: color-claro
          border-radius: 50% 
          margin: 5px
        &.instagram
          background-color: color-claro
          border-radius: 20px
        &.twitter
          background-color: color-claro
          border-radius: 8px