* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #2f2f2f;
}
.header {
  height: 85px;
  width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header-left a {
  color: #000;
  text-decoration: none;
}
.header-left:hover {
  cursor: pointer;
}
.header-left h1 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-family: 'Lobster', sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
}
.header-right {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cuenta img {
  height: 40px;
}
.cuenta img:hover {
  cursor: pointer;
}
.carrito-logo img {
  height: 35px;
}
.carrito-logo img:hover {
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: #fff;
  background: #2f2f2f;
}
.footer--left ul {
  margin: 0;
  padding: 0;
}
.footer--left li {
  list-style: none;
}
.footer--left a {
  text-decoration: none;
  color: #fff;
}
.footer--left a:hover {
  text-decoration: underline;
}
.footer--center {
  padding-top: 30px;
}
.footer--right {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 200px;
}
.footer--right .follow {
  display: flex;
  justify-content: flex-end;
}
.footer--right .follow h3 {
  margin: 10px;
  padding: 0;
  color: #fede01;
}
.footer--right .social .social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.footer--right .social .social-link img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.footer--right .social .social-link.github {
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
}
.footer--right .social .social-link.instagram {
  background-color: #fff;
  border-radius: 20px;
}
.footer--right .social .social-link.twitter {
  background-color: #fff;
  border-radius: 8px;
}
