Fuente1='Lato', sans-serif
Fuente2='Oswald', sans-serif
Fuente3='Lobster', sans-serif

gris-oscuro=#2f2f2f
color-claro= #FFFFFF
gris-claro=#888888
amarillo=#FEDE01
azul=#3D52D5
gris-fondo=#F5F5F5

*
  box-sizing: border-box

body
  margin: 0
  font-family: Fuente1
  background-color: gris-oscuro

.allContent
  position: absolute
  z-index: 1

.header
  position: sticky
  top: 0
  z-index:2
  height: 85px
  width: 100%
  max-width 1980px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  background-color: color-claro
  box-shadow: 0px 0px 15px 10px black
  &-left
    a
      color: black
      text-decoration: none
    &:hover
      cursor: pointer
      opacity: .8
    h1
      margin: 0
      margin-left:10px
      padding: 0
      font-family: Fuente3
      font-size: 60px
      font-weight: 700
      letter-spacing: 2px
.carrito-logo i
  font-size: 35px
  color: black
  margin-right: 40px
  &:hover
    cursor: pointer
    opacity: .8

.footer
  width: 100%
  height 150px
  margin: 0 auto
  position: relative
  bottom: 0
  display: flex
  justify-content: space-around
  align-items: center
  font-size: 25px
  color: color-claro
  background: gris-oscuro
  &--left
    ul
      margin: 0
      padding: 0
    li
      list-style none
    a
      text-decoration: none
      color: color-claro
    a:hover
      text-decoration: underline
  &--center
    padding-top: 30px
  &--right
    display: flex
    align-content: center
    flex-direction: column
    width: 200px
    .follow
      display: flex
      justify-content: flex-end
      h3
        margin: 10px 
        padding: 0 
        color: amarillo
    .social
      .social-link
        display: inline-block
        width: 60px;
        height: 60px;
        object-fit: cover
        i
          font-size: 60px;
          color: color-claro
        &.github
          margin: 5px