.marca__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1640px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: gris-claro;
}
.marca__container img {
  height: 50px;
}
.marca__container .zowie {
  height: 140px;
  margin-bottom: 15px;
}
