.marca
  &__container
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    height: 150px
    margin: 0 auto
    margin-bottom: 50px
    background: gris-claro
    img
      height: 50px
    .zowie
      height: 140px
      margin-bottom: 15px