footer.footer--principal
  .footer--left: ul
    li: a(href="#") Sobre nosotros
    li: a(href="#") Condiciones
    li: a(href="#") Aviso de privacidad
  .footer--center
    p Xavier Garcia © Todos los derechos reservados.
  nav.footer--right.social
    a.sm.twitter(href="https://twitter.com/elxavs_mx")
    a.sm.github(href="https://github.com/ElXavs")
    a.sm.instagram(href="https://www.instagram.com/elxavs.mx")
//- .social-link {
//-   display: inline-block;
//-   width: 60px;
//-   height: 60px;
//-   background-size: 60px 60px;
//-   margin: 0 20px;
//- }

//- .social-link.twitter {
//-   background-image: url('../imagenes/twitter.svg');
//- }

//- .social-link.instagram {
//-   background-image: url('../imagenes/instagram.svg');
//- }

//- .social-link.github {
//-   background-image: url('../imagenes/github.svg');
//- }