footer.footer
  .footer--left: ul
    li: a(href="#") About Us
    li: a(href="#") Conditions
    li: a(href="#") Privacy Terms
  .footer--center
    p Xavier Garcia © All rights reserved.
  .footer--right
    .follow 
      h3 Follow us
    .social
      a.social-link.twitter(href="https://twitter.com/elxavs_mx"): i(class="fab fa-twitter")
      a.social-link.github(href="https://github.com/ElXavs"): i(class="fab fa-github")
      a.social-link.instagram(href="https://www.instagram.com/elxavs.mx"): i(class="fab fa-instagram")