header.header
  .header-left
    a.logoprincipal: h1 Paciferals
  .header-right
    a.cuenta(href="/"): img(src="https://img.icons8.com/windows/64/000000/guest-male--v1.png", alt="")
    a.carrito(href="carrito.html"): img(src="https://img.icons8.com/pastel-glyph/64/000000/shopping-cart--v1.png", alt="")