header.header
  .header-left
    a.logoprincipal(href="pagina-principal.html"): h1 Paciferals
  .header-right
    a.carrito-logo(href="carrito.html"): img(src="https://img.icons8.com/pastel-glyph/64/000000/shopping-cart--v1.png", alt="")