.modal#miModal
    +modales('modal-zowie1','BenQ Zowie',miceProducts[0], 2200,'https://zowie.benq.com/content/dam/game/en/product/mouse/ec2/gallery/ec2-01-top.png')
    +modales('modal-zowie2','BenQ Zowie',miceProducts[1], 1800,'https://zowie.benq.com/content/dam/game/en/product/mouse/fk1/gallery/fk1-top.png')
    +modales('modal-glorious1','Glorious',miceProducts[2], 1600,'https://cdn.shopify.com/s/files/1/0549/2681/products/matte4.jpg?v=1550599303')
    +modales('modal-glorious2','Glorious',miceProducts[3], 1600,'https://cdn.shopify.com/s/files/1/0549/2681/products/4_black_matte_bg_product.jpg?v=1573073930')
    +modales('modal-ducky1','Ducky',keyboardProducts[0], 3000,'https://www.duckychannel.com.tw/upload/2019_08_222/20190822174945b9ll89bt71.png')
    +modales('modal-ducky2','Ducky',keyboardProducts[1], 3500,'https://www.duckychannel.com.tw/upload/2020_05_072/202005071320209ekqqpg5G6.jpg')
    +modales('modal-hk1','HK Gaming',keyboardProducts[2], 1600,'https://cdn.shopify.com/s/files/1/0283/3583/3187/products/Gk61_590x.jpg?v=1595317915')
    +modales('modal-hk2','HK Gaming',keyboardProducts[3], 3400,'https://cdn.shopify.com/s/files/1/0283/3583/3187/products/hades_main_02_590x.jpg?v=1586286213')
