extend componentes/plantilla.pug
block contenidos
  .carrito
    section.carrito__title
      h1 Carrito de compras
    section.carrito__productos
      +carrito('prueba',miceProducts[2],'Glorious', 1499.00, 'https://cdn.shopify.com/s/files/1/0549/2681/products/matte4.jpg?v=1550599303')
    section.carrito__total
      +total(1499.00)