extend componentes/plantilla.pug
block contenidos
  section.intro
    .intro__titulo
      h1 For people like you
    .intro__categorias
      a.intro__categorias--mouse(href="#mouses")
        h1 The best mice
        p See products
      a.intro__categorias--teclado(href="#teclados")
        h1 The best keyboards
        p See products
  section.marca
    .marca__container
      img.ducky(src="https://www.duckychannel.com.tw/assets/img/logo.png", alt="")
      img.glorious(src="https://cdn.shopify.com/s/files/1/0549/2681/files/GPC_InversedLogo_Rev_SMALL_CROP.png?v=1579809708", alt="")
      img.hkgaming(src="https://cdn.shopify.com/s/files/1/0283/3583/3187/files/HK_Gaming-png_51de5a2c-c3f5-449e-b3f1-405273a01823_220x.png?v=1571746544", alt="")
      img.zowie(src="https://logodix.com/logo/26792.png", alt="")
  section.mouse#mouses
    .mouse__title
      h2 Amazing Mice
    .mouse__brand--zowie
      h2 Zowie
    .mouse__brand--glorious
      h2 Glorious
    +caja('caja-zowie1','https://zowie.benq.com/content/dam/game/en/product/mouse/ec2/gallery/ec2-01-top.png',miceProducts[0])
    +caja('caja-zowie2','https://zowie.benq.com/content/dam/game/en/product/mouse/fk1/gallery/fk1-top.png',miceProducts[1])
    +caja('caja-glorious1','https://cdn.shopify.com/s/files/1/0549/2681/products/matte4.jpg?v=1550599303',miceProducts[2])
    +caja('caja-glorious2','https://cdn.shopify.com/s/files/1/0549/2681/products/4_black_matte_bg_product.jpg?v=1573073930',miceProducts[3])
  section.teclado#teclados
    .teclado__title
      h2 Amazing Keyboards
    .teclado__brand--ducky
      h2 Ducky
    .teclado__brand--hk
      h2 HK Gaming
    +caja('caja-ducky1','https://www.duckychannel.com.tw/upload/2019_08_222/20190822173910i627q5QUX4.jpg',keyboardProducts[0])
    +caja('caja-ducky2','https://www.duckychannel.com.tw/upload/2020_05_072/202005071320209ekqqpg5G6.jpg',keyboardProducts[1])
    +caja('caja-hk1','https://cdn.shopify.com/s/files/1/0283/3583/3187/products/Gk61_590x.jpg?v=1595317915',keyboardProducts[2])
    +caja('caja-hk2','https://cdn.shopify.com/s/files/1/0283/3583/3187/products/hades_main_02_590x.jpg?v=1586286213',keyboardProducts[3])